<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Data Structure Visualizer</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<div class="container mt-5">
		<h2 class="text-center">Select a Data Structure to Visualize</h2>
		<div class="list-group mt-4">
			<!-- Dynamic Links for Data Structures -->
			<a th:each="ds : ${dataStructures}" th:href="${ds.value}" th:text="${ds.key}"
				class="list-group-item list-group-item-action text-center">
			</a>
		</div>
	</div>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>